---
services:
  {{cookiecutter.service_name}}:
    container_name: "{{cookiecutter.service_name}}"
    image: "{%raw%}{{{%endraw%}{{cookiecutter.service_name}}_docker_image{% raw %}}}{%endraw%}"
    restart: unless-stopped

    environment:
      - PUID="{%raw%}{{{%endraw%}{{cookiecutter.service_name}}_unix_user_id{%raw%}}}{%endraw%}"
      - PGID="{%raw%}{{{%endraw%}{{cookiecutter.service_name}}_unix_group_id{%raw%}}}{%endraw%}"
      - UMASK="{%raw%}{{{%endraw%}{{cookiecutter.service_name}}_unix_umask{%raw%}}}{%endraw%}"
      {%raw%}{% for key,value in  {%endraw%}{{cookiecutter.service_name}}_docker_env.items(){%raw%} -%}{%endraw%}
      {%raw%}
      - {{key}}="{{value}}"
      {% endfor %}
      {%endraw%}


    ports:
      {%raw%}{% for port in  {%endraw%}{{cookiecutter.service_name}}_docker_ports{%raw%} -%}{%endraw%}
      {%raw%}
      {% if port != "" -%}
      - "{{port}}"
      {% endif -%}
      {%endfor%}
      {%endraw%}
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      {%raw%}{% for volume in  {%endraw%}{{cookiecutter.service_name}}_docker_volumes{%raw%} -%}{%endraw%}
      {%raw%}
      {% if volume != "" -%}
      - "{{volume}}"
      {% endif -%}
      {%endfor%}
      {%endraw%}

    {%- if cookiecutter.docker_cap_net_admin %}
    cap_add:
      - NET_ADMIN
    {% endif %}
networks:
  default:
    name: "{%raw%}{{{%endraw%}{{cookiecutter.service_name}}_docker_network_name{%raw%}}}{%endraw%}"
    external: true
