{%- macro var(name) -%}
{{ '{{' }}{{ name }}{{ '}}' }}
{%- endmacro -%}

---
services:
  {{cookiecutter.service_name}}:
    container_name: "{{cookiecutter.service_name}}"
    image: "{{ var(cookiecutter.service_name+"_docker_image") }}"
    restart: unless-stopped

    devices:
      {%+raw%}{% for dev in {%endraw%}{{cookiecutter.service_name}}_docker_devices{%raw%} -%}{%endraw%}
      {%raw%}
      {% if dev != "" -%}
      - "{{dev.src}}:{{dev.dst}}"
      {% endif -%}
      {%- endfor %}
      {%endraw%}

    environment:
      - PUID={{ var(cookiecutter.service_name+"_unix_user_id") }}
      - PGID={{ var(cookiecutter.service_name+"_unix_group_id") }}
      - UMASK={{ var(cookiecutter.service_name+"_unix_umask") }}
      - TZ={{ var(cookiecutter.service_name+"_timezone") }}
      {%+raw%}{% for key,value in {%endraw%}{{cookiecutter.service_name}}_docker_env.items(){%raw%} -%}{%endraw%}
      {%raw%}
      - {{key}}={{value}}
      {% endfor +%}
      {%endraw%}

    {% if cookiecutter.docker_network_name != "host" %}
    ports:
      {%+raw%}{% for port in {%endraw%}{{cookiecutter.service_name}}_docker_ports{%raw%} -%}{%endraw%}
      {%raw%}
      {% if port != "" -%}
      - {{port}}
      {% endif -%}
      {%- endfor +%}
      {%endraw%}
    {% endif %}

    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      {%+raw%}{% for volume in {%endraw%}{{cookiecutter.service_name}}_docker_volumes{%raw%} -%}{%endraw%}
      {%raw%}
      {% if volume != "" -%}
      - "{{volume}}"
      {% endif %}
      {%- endfor %}
      {%endraw%}
      {%+raw%}{% for volume in {%endraw%}{{cookiecutter.service_name}}_docker_volumes_extra{%raw%} -%}{%endraw%}
      {%raw%}
      {% if volume != "" -%}
      - "{{volume.src}}:{{volume.dst}}"
      {% endif -%}
      {%- endfor +%}
      {%endraw%}

    cap_add:
      {%- if cookiecutter.docker_capabilities._1 != "" %}
      {% for _,cap in cookiecutter.docker_capabilities.items() +%}
      {% if cap != "" %}
      - {{cap}}
      {%- endif -%}
      {%- endfor -%}
      {%- else -%} []{# the space before {} is important #}
      {%- endif -%}

{% if cookiecutter.docker_network_name == "host" %}
    network_mode: "host"
{% else -%}

networks:
  default:
    name: "{{ var(cookiecutter.service_name+"_docker_network_name") }}"
    external: true
{% endif %}
